%h1 Dashboard#index

= form_tag dashboard_path('pull_requests'), method: :get do
  = select_tag "org_id", options_from_collection_for_select(@organizations, "id", "name")
  = submit_tag "Fetch all data!"

